*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Quicksand;
}
.container{
    max-width: 415px;
    margin: 0 auto;
}

.fornax-box{
    background-image: url(../images/Layer.png);
    background-size: cover;
}

.fornax-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.fornax-box-text h2{
    margin-top: 41px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}
.finger-print{
    margin: 145px 0;
}
.fornax-box-text p{
    font-size: 16px;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
    width: 198px;
}

.Stroke_3 {
    border-width: 2.5px;
    border-color: rgb(54, 56, 83);
    border-style: solid;
    position: absolute;
    left: 498px;
    top: 5095px;
   
    z-index: 112;
  }
  