
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Quicksand;
}
.container{
    max-width: 415px;
    margin: 0 auto;
}

.fornax-box{
    background-image: url(../images/Layer.png);
    background-size: cover;
}
.fornax-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.fornax-box-text h2{
    margin-top: 44px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}
.flex{
    max-width: 270px;
    width: 100%;
}
.critics{
    margin-top: 104px;
}
.list-icon-1{
    margin: 60px 0;
}
.icon img{
    margin-right: 17px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.list-icon{
    display: flex;
    align-items: center;
}

.list-icon a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
